.box {
    background: blue;
    width: 400px;
    height: 400px;
    display: inline-block;
    color: white;
}

.box:nth-child(2) {
    margin-left: 50px;
}

.box:nth-child(3) {
    margin-left: 50px;
}