* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

.container {
    width: 100%;
    height: 1000px;
    background: #B2CCD6;
    overflow: hidden;
}

.container-secondContainer {
    width: 80%;
    height: 500px;
    border-radius: 5px;
    /*border: solid 1px black;*/
    margin: 200px auto;
}

.container-secondContainer p {
    font-size: 25px;
    font-weight: bolder;
    color: #133761;
}

table {
    margin-top: 20px;
    height: 300px;
    width: 100%;
    /*border: 1px solid black;*/
    border-radius: 5px;
    background: white;
}

thead td {
    text-align: center;
    font-size: 20px;
}

small {
    color: #133761;
}

table .item {
    width: 40%;
    height: 40%;
}

img {
    float: left;
    height: 40%;
}

.item-info{
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
    vertical-align: bottom;
}

table .amount, table .price, table .total {
    width: 20%;
}

button {
    width: 200px;
    height: 40px;
    color: black;
    background: cornflowerblue;
    cursor: pointer;
}

button:hover {
    background: yellow;
}

button:focus {
    background: blue;
}

button:active {
    background: brown;
}

.input-test {
    width: 300px;
    cursor: all-scroll;
}

.input-test:hover {
    width: 400px;
    border: 5px solid red;
    cursor: all-scroll;
}

.input-test:focus {
    border: 5px solid red;
}

.custom-link {
    text-decoration: none;
}

.custom-link:link {
    color: violet;
}

.custom-link:visited {
    color: violet;
}

