* {
    margin: 0;
    padding: 0;
}

html {
    background: darkslategrey;
}

.container {
    background: white;
    width: 80%;
    height: 500px;
    margin: 200px auto auto;
    overflow: hidden;
}

.container > div{
    background: inherit;
    margin-left: 20px;
}

.title {
    width: 90%;
    height: 100px;
    font-size: 40px;
    display: flex;
    align-items: center;
}


.email {
    width: 90%;
    margin-top: 20px;
}

.email input {
    width: 95%;
    height: 25px;
    border-radius: 4px;
    border-width: 1px;
}

input::placeholder {
    padding-left: 20px;
}

input {
    margin-top: 7px;
}

.name {
    width: 90%;
    margin-top: 15px;
}

.name-firstName, .name-lastName{
    width: 50%;
    float: left;
}

.name-firstName input, .name-lastName input {
    width: 90%;
    height: 30px;
}

.message {
    width: 90%;
    margin-top: 90px;
}

.message input {
    width: 95%;
    height: 80px;
    border-radius: 4px;
    border-width: 1px;
}

.subscribe {
    margin-top: 20px;
    display: flex;
}

.subscribe-button {
    width: 13px;
    height: 13px;
    border-radius: 3px;
    border: none;
    background: #BEBEBE;
    float: left;
}

.subscribe p {
    margin-top: 5px;
    margin-left: 4px;
}

.subscribe button {
    width: 100px;
    font-size: 15px;
    margin-left: 185px;
    height: 35px;
    background: #FFBF35;
    border: none;
    border-radius: 3px;
    color: white;
}

