/* [Flex Box는 왜 등장하였는가?]
    display: block; 속성은 Web에 맞추어 화면을 구성한 후
    아이폰이나 안드로이드 등과 같은 다른 환경에서 들어갔을 경우
    그 화면에 맞추어지는 것이 아니라 뒤틀리는 현상이 일어난다.

    Flex Box는 이것을 해결하기 위하여 등장하였다.
*/

.wrapper {
    display: flex;
    /* Main Axis*/
    justify-content: space-around;
    /* Cross Axis */
    height: 100vh;
}

.box {
    width: 200px;
    height: 200px;
    background: peru;
    color: white;
}